<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        html {
            color: ivory;
        }

        body {
            background-color: rgb(4,123,227);
            height: 400px;
        }

        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 10%;
        }

        a {
            color: ivory;
            font-weight: bold;
            font-size: xx-large;
        }
    </style>
</head>

<body>
    <div>
    <a href="{{resetLinkURL}}">{{resetLinkText}}</a>
    <h1>To reset your password</h1>
    </div>
</body>

</html>